<!DOCTYPE html>
<html>
  <head>
    <title>Try Greycork on Mobile</title>
    		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    
    <!-- custom css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bootstrap css
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    
 	  <!-- load jquery minified js -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- load bootstrap minified js -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- load load-image js minified -->
		<script src="/javascripts/load-image.all.min.js"></script>
		
		<!-- load custom gestures script -->
		<script src="/javascripts/sticker.js"></script>
		<!-- load custom canvas script -->
		<script src="/javascripts/canvas.js"></script>
		
		<!-- load platform/scream/brim to manage minimal ui
		<script src="/bower_components/platform.js/platform.js"></script>
		<script src="/bower_components/scream/dist/scream.js"></script>
		<script src="/bower_components/brim/dist/brim.js"></script>
		<script>
		  // user is using Safari
			var scream, brim;
		  if (platform.os.family == 'iOS' && parseInt(platform.os.version, 10) >= 8) {
			  if (!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)) {
			    window.addEventListener('DOMContentLoaded', function () {
				    scream = gajus.Scream({
				      width: {
				        portrait: 320,
				        landscape: 568
				      }
				    });
				    
				    brim = gajus.Brim({
				      viewport: scream
				    });
				    
				    brim.on('viewchange', function(e) {
				    	document.body.className = e.viewName;
				    });
			    });
			  }
		  }
		</script>    
		-->
  </head>
  
  <body>
			<div id="main">
				<!-- Top -->
				<div id="editor-top">
				</div>
				
				<!-- canvas -->
				<div id="editor-middle">
					<canvas id="canvas"></canvas>	
					<img id="saved-img"/>
				</div>
				
        <!-- bottom -->
        <div id="editor-bottom"> <!-- height 20hv -->

					<!-- add sticker button -->
          <div id="sticker-button" class="editor-bottom-button"></div>

	  		  <!-- Take picture button -->
		  		<label id="camera-button" class="editor-bottom-button">
		  		  <img src="/images/camera.png" width="30px" height="30px" id="camera-icon" class="active"/>
		  		  <img src="/images/trash.png" width="30px" height="30px" id="trash-icon"/>
		        <input type="file" accept="image/*" capture="camera" id="camera">
		  		</label>

					<!-- save image button -->
          <div id="save-button" class="editor-bottom-button"></div>

	  		</div>
	  		
	  		<!-- sticker -->
	  		<div id="sticker-menu">
	  			<div id="sticker-menu-bar">
	  				<div id="sticker-menu-bar-back">
	  					<img src="/images/camera.png">
	  				</div>
	  				<div id="sticker-menu-bar-label">Tap to select a sticker</div>
	  			</div>
	  			<div id="sticker-menu-stickers">
	  				<!-- 
	  				
	  				This part is generated in canvas.js
	  				The structure is as follows:
	  				
	  			  <div class="row sticker-menu-row">
	        		<div class="col-xs-6 sticker-menu-col">
	        			<img class="sticker-icon" src="/images/stickers/square.png"/>
	        		</div>
	        		<div class="col-xs-6 sticker-menu-col">
	        			<img class="sticker-icon" src="/images/stickers/test.png"/>
	        		</div>
	        	</div>
	        	....
	        	
	        	-->
	        </div>
	  		</div>
	  		
	      <img id="frame" width="0" height="0" style="display:none;">
	  	</div>
	  
	  <!--
		<div id="brim-main">
    </div>
    
 		<div id="brim-mask">
 		  <p>Hello, I am the <b>mask</b> element.</p>
      <p>My purpose is to hide the <b>main</b> element when browser is not in the minimal view and give user instructions how to enter the minimal view.</p>
      <p>Behind me is the <b>treadmill</b> element. It has been generated dynamically. It is used to give user plenty of space to scroll down.</p>
      <p>Scroll down to hide me.</p>
		</div>

  </body>

</html>
